.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.header nav ul {
  list-style-type: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 10px;
}

.header nav ul li a {
  color: var(--secondary-color);
}
