.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* Space between grid items */
  margin: 0; /* Adjust as needed */
}

.service-square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  box-sizing: border-box;
  text-align: center;
}

.service-square h4 {
  margin: 0;
}
