.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Hidden by default */
  width: 250px;
  height: 65%;
  margin-top: 8%;
  background-color: var(--primary-color);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar h1 {
  color: var(--text-color);
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px 16px;
  text-align: left;
}

.sidebar ul li a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #575757;
}
